@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["About"];
}
<h2>@ViewData["Title"]</h2>

<strong>@Localizer["Support"]: </strong><email mail="grigoriev.2000@bk.ru"></email><br />
