@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-6">
                <input hidden type="text" id="userInput" value="@User.Identity.Name" />
                @Localizer["Message"]...<input type="text" id="messageInput" />
                <input type="button" id="sendButton" value=@Localizer["Send"] />
            </div>
        }
        else
        {
            <div class="col-6">
                <li><a>@Localizer["Kek"]</a></li>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>