@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Routes.Models.Comment
@{
    ViewData["Title"] = "DeleteComment";
}

<h2>@Localizer["Delete"]</h2>

<h3>@Localizer["Kek"]</h3>

<form asp-action="DeleteComment">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value=@Localizer["Delete"] class="btn btn-default" />
</form>

