<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

@model Routes.Controllers.PagedData<Routes.Models.Route>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $().ready(function () {
        $("body").on('click', '.page-number', function () {
            var page = parseInt($(this).html());

            $.ajax({
                url: '@Url.Action("RouteListAjax")',
                data: { "page": page },
                success: function (data) {
                    $("#routelist").html(data);
                }
            });
        });
    });
</script>

<div id="routelist">
    @Html.Partial("RouteListAjax")
</div>